@import url('https://fonts.googleapis.com/css2?family=Roboto');

*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
.container{
    display: flex;
    flex-direction: column;
}

/* Nav Bar */

.navBar{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.navBar-AllButtons{
    margin: 25px;
    padding-top: 10px;
    padding-right: 10px;
    width: 30%;
    height: 50px;
    background-color: black;
    flex: 1;
}
.navBar-ButtonBox1{
    text-align: right;
    vertical-align: middle;
    flex: 1;
    color: white;
}
.navBar-ButtonBox2{
    display: flex;
    justify-content: left;
    flex: 2;
    vertical-align: middle;
}
.ButtonBox2-content{
    color: white;
    background-color: black;
    height: 70%;
    margin-left: 5%;
}
.ButtonBox2-text{
    font-size: large;
    margin-top: 10px;
    color: white;
    background-color: black;
    border: none;
}
.navBar-ButtonBox3{
    background-color: black;
    flex: 1.4;
}
.SignOut{
    color: white;
    background-color: rgb(23, 162, 184);
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    font-size: large;
}
.SignOut-text{
    margin: 0px 20px 0px 20px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}

/* Main Content */

.page-display{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
}

/* Main Panel*/

.mainPanel-allBoxes{
    background-color: #fff;
    height: 900px;
    flex: 3;
    margin: 50px 25px 15px 10%;
    display: flex;
    flex-direction: column;
}
.mainPanel-Box{
    background-color: #fff;
    position: relative;
    height: 80%;
    width: 100%;
    border: solid rgba(128, 128, 128, 0.384);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.MainPanel-Box1Background{
    width: 100%;
    height: 30%;
    background-color: rgb(23, 162, 184);
    border-radius: 3px;
    position: absolute;
}
.MainPanel-Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    color: white;
}
.Content{
    flex: 1;
    background-color: white;
    color: black;
    width: 75%;
    height: 100px;
    margin-bottom: 2%;
    margin-left: 2%;
}
.Profile-Picture{
    margin-top: 20px;
    margin-left: 20px;
}
.Content2{
    margin-top: 2%;
    font-size: 3rem;
}
.MapMarker{
    margin-right: 10px;
}
.Location{
    margin-top: 2%;
    justify-content: center;
}
.inline-content{
    display: flex;
    flex-direction: row;
}
.Content4{
    font-size: 1rem;
}
.edit-profile{
    margin-left: 7px;
}
.mainPanel-Box2{
    margin-top: 75px;
    height: 60%;
    border: solid rgba(128, 128, 128, 0.384);
    border-radius: 5px;
}
.MainPanel-Box2-Background{
    width: 100%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    position: absolute;
}
.MainPanel-Box2-Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4%;
    padding-left: 20px;
    color: black;
}
.content1-MainBox2{
    font-size: 2rem;
    color: white;
    margin-top: auto;
}
.content2-MainBox2{
    margin-top: 50px;
    font-size: 25px;
}
.content3-MainBox2{
    color: grey;
    margin-top: 15px;
    font-size: 15px;
}
.content4-MainBox2{
    margin-top: 15px;
}

/* Side Panel */

.side-panel{
    background-color: #fff;
    height: 900px;
    flex: 2;
    margin: 50px 10% 15px 25px;
    display: flex;
    flex-direction: column;
}
.spBox{
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    height: 35%;
    width: 100%;
    border: solid rgba(128, 128, 128, 0.384);
    display: flex
}
.spBox-Background{
    border: none;
    border-radius: 3px;
    background-color: black;
    height: 40%;
}
.spBox-Content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 23%;
    padding-left: 20px;
    color: black;
    margin-top: auto;
}
.content1-spBox{
    flex: 1;
    font-size: 3rem;
    color: white;
    margin-top: auto;
}
.content2-spBox{
    flex: 1;
    margin-top: 15%;
    display: flex;
    font-size: 2rem;
}
.content2-spBoxB{
    display: flex;
    font-size: 2rem;
    margin-top: 15%;
}
.accept-circle{
    margin-right: 2%;
}
.decline-circle{
    margin-right: 2%;
}
.personb1{
    margin-right: 1%;
}
.pPerson{
    margin-right: 1%;
    font-size: 2rem;
}
.spBox2{
    border-radius: 5px;
    margin-top: 75px;
    height: 60%;
    border: solid rgba(128, 128, 128, 0.384);
}
.spBox2-Background{
    border: none;
    border-radius: 3px;
    background-color: black;
    height: 22%;
}
.spBox2-Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    color: black;
    margin-top: auto;
}

